# Build files
/target/
*.class
**/__pycache__/
*.pyc
*.pyo
*.pyd

# IDE files
.idea/
.vscode/
*.iml

# Sensitive Config
**/target
**/application.properties
**/github-cache/

# Docker data (if you mapped a local folder to a volume)
/postgres_data/github-cache/
.env
